<form action="contacts/{{id}}">
	<input 
		class="form-control"
		placeholder="Name"
		name="contact_name"
	/>
	<input 
		class="form-control"
		placeholder="Phone Number"
		name="phone_number"
	/>
	<button type="submit" class="btn btn-primary">Edit</button>
</form>