<div class="container-fluid">
	<div class="row col-md-6 mx-auto mt-4">
		<form action="/signin" class="card" method="post">
			<h2 class="card-title text-center mt-2">Sign In</h2>
			<div class="card-body d-flex flex-column">
				<input type="text" class="form-control mb-4" placeholder="Username" 
					name="username" id="username"
				/>
				<input type="password" class="form-control mb-4" placeholder="Password"
					name="password" id="password"
				/>
				<button type="submit" class="btn btn-primary mb-4">Sign In</button>
			</div>
		</form>
	</div>
</div>